@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgba(222, 223, 228, .8);
  color: rgba(22, 31, 33, 1);
  font-family: 'Barlow', sans-serif;
  margin: 0;

}

.tmenu {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #2a2a2a2a;

}

header {
  width: 100%;
  background-color: rgba(235, 139, 53);
  color: rgba(164, 54, 4, 1);
  text-align: center;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;

}

h1 {

  color: rgba(164, 54, 4, 1);
  text-align: center;

}

h2,
h3 {
  color: rgba(235, 139, 53);
  text-align: center;

}

#bmenu {
  display: none;

}

.side {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: rgba(205, 187, 163, 1);
  color: rgba(164, 54, 4, 1);
  border-radius: 30px;

}

.side a {
  color: rgba(164, 54, 4, 1);
  text-decoration: none;
  padding: 15px;


}

.side ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;



}

.side li {

  margin: 25px;
  padding: 10px;
  border-radius: 10px;



}

.menu ul li:hover {
  background-color: rgba(245, 168, 131, .6);
  border-right: 2px solid snow;
  color: rgba(205, 187, 163, 1);

}



#nat {
  border: rgba(164, 54, 4, 1) solid 2px;
  border-radius: 20px;
  border-width: medium;
  display: inline-block;
  margin: 40px;
  padding: 30px;

}

#isa {
  border: rgba(164, 54, 4, 1) solid 2px;
  display: inline-block;
  border-width: medium;
  margin: 40px;
  padding: 30px;


}

#consu {
  border: rgba(164, 54, 4, 1) solid 2px;
  border-radius: 20px;
  display: inline-block;
  border-width: medium;
  margin: 40px;
  padding: 30px;

}


#santiago {
  float: right;
  width: 600px;
  height: 800px;
  border-style: double;

}


.fotos {
  border-radius: 50%;
  border-color: rgba(164, 54, 4, 1);
  border: solid 5px;
  width: 250px;
  height: 250px;
}
/** Super y locales**/

.lista {
  list-style: none;
}

/** Quienes somos y Blog **/
.caja {
  border: rgba(164, 54, 4, 1) solid 2px;
  border-radius: 20px;
  border-width: medium;
  display: inline-block;
  margin: 40px;
  padding: 30px;
}

/** Testimonios **/

blockquote {
  border: rgba(235, 139, 53) solid 2px;
  border-radius: 20px;
  border-style: outset;
  border-width: medium;
  display: inline-block;
  margin: 20px;
  padding: 30px;

}

.contenedor {
  text-align: justify;
  margin: auto;
  width: 1000px;
  height: 900px;
  padding: 25px left;

}

footer {
  background-color: rgba(245, 168, 131, .6);
  width: 100%;
  height: 40px;
  color: white;
  bottom: 2px;
  border-radius: 10px;
  text-align: center;
  position: fixed;

}


.boxlogin {
  width: 300px;
  height: 350px;
  border: 2px solid rgba(155, 60, 46, .9);
  border-style: dotted;
  text-align: center;
  margin: auto;

}


/* responsive*/

@media(max-width:768px) {
  .side label {
    display: block;
  }

  .menu {
    position: absolute;


  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 2px solid snow;
  }
}