@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap');


*{box-sizing: border-box;}

body{
  background-color: rgba(222, 223, 228, .8);
    color: rgba(235, 139, 53, 1);
    font-family: 'Barlow', sans-serif;
    margin: 0;

}
.tmenu{
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #2a2a2a2a;

}

header{
  width: 100%;
  background-color: rgba(235, 139, 53, .6);
  color: rgba(164, 54, 4, 1);
  text-align: center;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  
}

h1{

  color: rgba(164, 54, 4, 1);

}
#bmenu{
  display:none;

}

.side {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color:rgba(155, 60, 46, .9);
  color: #f5a883;
  border-radius: 30px;

}

.side a{
  color: #f5a883;
  text-decoration: none;
  padding:  15px;


}

.side ul{
  list-style: none;
  margin:0;
  padding: 0;
  text-align: center;
  
  

}
.side li{
 
  margin: 25px;



}
.menu ul li:hover{
  background-color: #444444;
  border-right: 2px solid snow;

}

.fotos{
  border-radius: 50%;
  border-color: blueviolet;
  border: solid 5px;
  width: 250px;
  height: 250px;
}

.contenedor{
  text-align: center;
  margin: auto;
  width: 400px;
  height: 300px;

 
  
}



footer{
  background-color:rgba(245, 168, 131, .6);
  width: 100%;
  height: 30px;
  color: white;
  bottom: 2px;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  
}
.boxlogin{
  width: 300px;
  height: 350px;
  border: 2px solid rgba(155, 60, 46, .9);
  border-style: dotted;
  text-align: center;
  margin: auto;

}


/* responsive*/

@media(max-width:768px){
  .side label{
    display: block;
  }
  .menu{
    position: absolute;
    
    
  }
  
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 2px solid snow ; 
  }
}
