@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
*{box-sizing: border-box;}

body{
    background-color: rgb(240, 240, 243);
    color:rgb(16, 16, 100);
    font-family: 'Barlow', sans-serif;

}

header{
  text-align: justify;
  display: inline-block;
  
}

.login{
  display: inline-block;
}



nav{
    background: rgb(206, 201, 238);
    height: 100%;
    margin: 50px;
    padding: 30px;
    display: block;
    float: left;
        
}

nav ul li{
  text-align: justify;
  margin: 15px;

}

.caja1{
  text-align: justify;
  
}
